.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  &--center {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    animation: rotate 2s linear infinite;
  }

  &__text {
    &--sub {
      font-size: 14px;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
